body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#background-image {
    /* background-image: url("/image/landscape.gif"); */
    /* background-size: cover; */
}

#image{
    width: 100%;
    height: 300px;
}